.pokemon-card.grass { background-color: #d1dfc4; }

.pokemon-card.bug { background-color: #ddd8b8; }

.pokemon-card.fire { background-color: #e6c8bd; }

.pokemon-card.water { background-color: #c7dce8; }

.pokemon-card.electric { background-color: #e8dfb8; }

.pokemon-card.ice { background-color: #cfe3e3; }

.pokemon-card.fighting { background-color: #e0c5c5; }

.pokemon-card.poison { background-color: #d8c6dc; }

.pokemon-card.ground { background-color: #e2d2b5; }

.pokemon-card.flying { background-color: #d0d2e2; }

.pokemon-card.psychic { background-color: #e3c4d0; }

.pokemon-card.rock { background-color: #d8ceb9; }

.pokemon-card.ghost { background-color: #cfcde0; }

.pokemon-card.dragon { background-color: #c8c9df; }

.pokemon-card.dark { background-color: #c8c5c0; }

.pokemon-card.steel { background-color: #cbd1d3; }

.pokemon-card.fairy { background-color: #e3c9d7; }

.pokemon-card.normal { background-color: #ddd9cf; }


.dialog-types .grass {
    background-color: #7aa66d;
}

.dialog-types .bug {
    background-color: #aaa66f;
}

.dialog-types .fire {
    background-color: #c96b55;
}

.dialog-types .water {
    background-color: #6d9fc2;
}

.dialog-types .electric {
    background-color: #d1b84a;
}

.dialog-types .ice {
    background-color: #8fc4c4;
}

.dialog-types .fighting {
    background-color: #b86f6f;
}

.dialog-types .poison {
    background-color: #9c78a8;
}

.dialog-types .ground {
    background-color: #b49668;
}

.dialog-types .flying {
    background-color: #858bb5;
}

.dialog-types .psychic {
    background-color: #c47791;
}

.dialog-types .rock {
    background-color: #9d8e70;
}

.dialog-types .ghost {
    background-color: #817ca5;
}

.dialog-types .dragon {
    background-color: #7379a8;
}

.dialog-types .dark {
    background-color: #716d68;
}

.dialog-types .steel {
    background-color: #7f8b8f;
}

.dialog-types .fairy {
    background-color: #c58da7;
}

.dialog-types .normal {
    background-color: #a9a49a;
}