* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    width: 100%;
}

header {
    background-color: #C43D3D;
    border-bottom: 5px black solid;
}

.header-content {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-family: 'Press Start 2P';
}

.header-content p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px 0 black;
}

.header-content img {
    width: 110px;
    cursor: pointer;
}

.header-content input {
    width: 250px;
    height: 40px;
    font-size: 12px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P';
    text-align: center;
    outline: none;
}

.header-content input:focus::placeholder {
    color: transparent;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    gap: 20px;
}

.pokemon-card {

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 4px solid black;
    border-radius: 6px;

    width: 200px;
    height: 200px;

    font-family: 'Press Start 2P';

    font-size: 10px;

}

.pokemon-card:hover {
    transform: scale(1.03) translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.pokemon-image {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.pokemon-card img {
    width: 120px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 4px black solid;

    gap: 10px;
    line-height: 120%;

}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 4px solid black;
}

.no-pokemon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Press Start 2P';
    font-size: 14px;
    white-space: nowrap;
}

.buttons {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.load-more {
    margin: 40px 0 0 0;
    padding: 15px 25px;

    font-family: 'Press Start 2P';
    font-size: 12px;
    background-color: #C43D3D;
    color: white;
    border: 4px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.load-more:disabled,
.back-to-top.show:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.back-to-top {
    display: none;
}

.back-to-top.show {
    display: block;
    margin: 40px 0 0 0;
    padding: 15px 15px;

    font-family: 'Press Start 2P';
    font-size: 12px;
    background-color: #C43D3D;
    color: white;
    border: 4px solid black;
    border-radius: 6px;
    cursor: pointer;
}

footer {
    background-color: #C43D3D;
    border-top: 5px black solid;
}

.footer-content {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    gap: 50px;
    color: white;
    height: 154.5px;
    font-family: 'Press Start 2P';
}